@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* CONFIGURAÇÃO PADRÃO: 1080p */

/* RESETANDO */
*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* CORPO GERAL */ 
body
{
    min-height: 100vh;
    padding: 5vw 10.833vw;

    font-family: 'Roboto Condensed', sans-serif;
    color: var(--cor-txt-main);
    background-color: var(--cor-bg);
}

main 
{  
    display: flex;
    flex-direction: column;
}

#formas
{
    display: flex;
    gap: clamp(0.4rem, .5vw, .5vw);
    width: 7rem;
}
#formas .losango
{
    width: clamp(0.938rem, 1.25vw, 1.25vw);
    height: clamp(0.938rem, 1.25vw, 1.25vw);
    background-color: var(--cor-colorida);
    rotate: 45deg;
    transform-origin: bottom;
    transition: all .4s ease;
}

/* ANIMAÇÃO QUANDO PASSAR O MOUSE PELOS LOSANGOS */
#formas:hover > .losango
{
    rotate: 90deg;
}

.titulo 
{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.6rem;
    margin: 1rem 0 3.5rem 0;
}
h1, h2, h3
{
    font-weight: 500;
    text-transform: uppercase;
}
h1 { font-size: clamp(1.5rem, 1.875vw, 1.875vw); }
h2 { font-size: clamp(1.2rem, 1.25vw, 1.25vw); margin-bottom: .8rem; } 
h3 { font-size: 20px; margin-bottom: .5rem; }

.titulo > hr 
{ 
    height: clamp(2px, 0.156vw, 0.156vw); 
    width: 100%; 
    background-color: var(--cor-txt-main);
}

/* academico.html */

ul li, .p-com-data
{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
span { color: var(--cor-txt-sec); text-wrap: nowrap; }
.btn-voltar.academico { margin-top: 8rem !important; }
/* ----- */

p, ol, ul, #link-icones { margin-bottom: clamp(1.5rem, 2.083vw, 2.083vw) }
p, a, ol li, ul li
{
    letter-spacing: 2%;
    line-height: clamp(1.063rem, 1.5vw, 1.5vw);
    font-size: clamp(0.875rem, 1.042vw, 1.042vw);
    font-weight: 400;
}
a { color: var(--cor-colorida); }
a:hover { opacity: .7; }

#sil-ofl { font-weight: 500; }
ol { margin-left: 1.3rem; }

.btn-voltar
{
    margin-top: 2rem;
    align-self: center;
    width: clamp(11.375rem, 17vw, 17vw);
    padding: clamp(.4rem, 0.5vw, .7rem) 0;
    border: clamp(2px, 0.156vw, 0.156vw) solid var(--cor-txt-main);
    box-shadow: clamp(3px, 0.208vw, 0.208vw) clamp(3px, 0.208vw, 0.208vw) var(--cor-txt-main);

    text-decoration: none;
    text-align: center;

    color: var(--cor-txt-main);
    font-weight: 500;
    font-size: clamp(.9rem, 1.302vw, 1.688rem);
}
/* .btn-voltar:hover { opacity: 1; } */

#pagina-atual
{ 
    transform: translate(4px, 4px); 
    box-shadow: none; 
}