/* REDEFININDO CONFIG GERAL */
main
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-bg);
}

main p
{
                /* 30px */
    font-size: clamp(1.3rem, 1.563vw, 1.9rem);
    font-weight: 400;
    color: var(--cor-txt-main);
}