/* REDEFININDO CONFIG GERAL */
body
{
    max-height:none;
    height: auto;
    min-height: 100vh;
}

main 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--cor-bg-tema-c);
}




/* ARTIGO */
article
{
    display: flex;
    gap: 2.6rem;
}

article #sessao-imgs
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 30%;
}
article #sessao-imgs figure
{
    height: 21rem;
    width: 100%;
    border: 2px solid var(--cor-txt-main-tema-c);
    box-shadow: 5px 5px var(--cor-txt-main-tema-c);
}
article #sessao-imgs figure img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article #sessao-detalhes
{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
}

article #sessao-detalhes #sessao-detalhes-nav
{
    display: flex;
    justify-content: space-between;
}
#sessao-detalhes-nav #formas
{
    display: flex;
    gap: .6rem;
}
#sessao-detalhes-nav #formas .losango
{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--cor-colorida);
    rotate: 45deg;
    transform-origin: bottom;
    transition: all .4s ease;
}

/* ANIMAÇÃO QUANDO PASSAR O MOUSE PELOS LOSANGOS */
#sessao-detalhes-nav #formas:hover > .losango
{
    rotate: 90deg;
}

#sessao-detalhes-data 
{
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-txt-sec-tema-c);
    text-transform: uppercase;
}

article #sessao-detalhes h2, article #sessao-detalhes h3
{
    font-weight: 500;
    text-transform: uppercase;
}
article #sessao-detalhes h2 { font-size: 36px; font-weight: 500; }
article #sessao-detalhes h3 { font-size: 24px; font-weight: 500; } 

article #sessao-detalhes hr { border: 1px solid var(--cor-txt-main-tema-c); }

#sessao-detalhes li, #sessao-detalhes p
{
    letter-spacing: 2%;
    line-height: 26px;
    font-size: 20px;
    font-weight: 400;
}

#sessao-detalhes-ferramentas { margin-left: 1rem; }

#sessao-detalhes-links { list-style: none; }
#sessao-detalhes-links > li > a
{
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    color: var(--cor-colorida);
    text-decoration: underline;
    text-transform: uppercase;
}




/* QUADRADINHOS */
.quadrados
{
    display: flex;
    gap: .6rem;
    margin: .9rem 0;
}
.quadrado
{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--cor-txt-main-tema-c);
}




/* REDEFININDO CONFIG FOOTER */
footer { padding: 3.2rem 0 1.5rem 0; }