@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* CONFIGURAÇÃO PADRÃO: 1080p */

/* RESETANDO */
*
{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* CORPO GERAL */ 
body
{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100vh;
    padding: 0 13rem;

    font-family: 'Roboto Condensed', sans-serif;
    color: var(--cor-txt-main-tema-c);
    background-color: var(--cor-bg-tema-c);
}

/* BOTÃO DE TEMA */
.btn-tema
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.3rem;
    top: 1rem;
    border: 2px solid var(--cor-txt-main-tema-c);
    box-shadow: 4px 4px var(--cor-txt-main-tema-c);
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.btn-tema > i 
{
    font-size: 35px;
    color: var(--cor-txt-main-tema-c);
}
.btn-tema .fa-sun { display: none; }



/* HEADER */
header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    width: 100%;
}

header h1
{
    font-size: 75px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -3%;
    text-wrap: nowrap;
}

header p { font-size: 24px; text-transform: uppercase; }

header #header-info
{
    font-weight: 400;
    color: var(--cor-txt-sec-tema-c);
}

header .titulo-e-redes
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
}

.titulo-e-redes .linhas
{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.3rem;
}

.titulo-e-redes .linhas hr
{
    border: 4px solid var(--cor-txt-main-tema-c);
}

.titulo-e-redes .redes
{
    display: flex;
    gap: 1rem;
}

.titulo-e-redes .redes > a
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-colorida);
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 5px 5px var(--cor-txt-main-tema-c);
    color: var(--cor-bg-tema-c);
}

.titulo-e-redes .redes > a > i 
{
    font-size: 42px;
    color: var(--cor-bg-tema-c);
}
.titulo-e-redes .redes > a .fa-youtube { font-size: 37px; }

header #header-desc { font-weight: 500; }


/* NAV */
nav
{
    width: 100%;
    display: flex;
    gap: 2.4rem;
    margin: 1.5rem 0 .9rem 0;
}

nav > a
{
    flex-grow: 1;
    border: 2px solid var(--cor-txt-main-tema-c);
    box-shadow: 4px 4px var(--cor-txt-main-tema-c);
    padding: .6rem 0;
    text-align: center;

    color: var(--cor-txt-main-tema-c);
    font-weight: 500;
    text-transform: capitalize;
    font-size: 25px;
}
#pagina-atual
{ 
    transform: translate(4px, 4px); 
    box-shadow: none; 
    background-color: #ccaeff;
}
#link-rede-click
{
    transform: translate(4px, 4px);
    box-shadow: none;
}


/* CORPO PRINCIPAL */
main { flex-grow: 1; background-color: var(--cor-colorida); }



/* FOOTER */
footer
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    padding: 1.5rem 0;
}

footer .sessao-2
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer p
{
    color: var(--cor-txt-sec-tema-c);
}

footer a
{
    color: var(--cor-colorida);
    text-decoration: underline;
}
footer p, footer a
{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}


/* RESPONSIVIDADE */